<h1>Editing Electricity Node</h1>

<% form_for(@node) do |f| %>
  <%= f.error_messages %>
  <label for="coord_id">Coordinate</label><%=h(@node.coord.to_s)%>
  <label for="info1">Info 1</label><input type="text" name="node[info1]" value="<%=h(@node.info1)%>">
  <label for="info1">Info 2</label><input type="text" name="node[info2]" value="<%=h(@node.info2)%>">
  <label for="info1">Info 3</label><input type="text" name="node[info3]" value="<%=h(@node.info3)%>">
  <label for="info1">Info 4</label><input type="text" name="node[info4]" value="<%=h(@node.info4)%>">
	<fieldset class="button_wrapper">
		<input id="submit" type="submit" class="button" value="Update" name="update"/>
	</fieldset>
<% end %>

<br />
<%= link_to 'Show', @node %> |
<%= link_to 'Back', enodes_path %>

<hr />
<a href="/">Home</a>
