<h1>Listing Electricity Nodes</h1>

<table>
  <col />
  <col />
  <col />
  <col />
  <col />
  <col style="width:70px"/>
  <col style="width:70px"/>
  <col style="width:70px"/>
  <thead>
	  <tr>
			<td>Coord</td><td>Info 1</td><td>Info 2</td><td>Info 3</td><td>Info 4</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	  </tr>
	</thead>
	<tbody>

<% @nodes.each do |node| -%>
	  <tr>
			<td><%=h(node.coord.to_s) %></td>
			<td><%=h(node.info1)%></td>
      <td><%=h(node.info2)%></td>
      <td><%=h(node.info3)%></td>
      <td><%=h(node.info4)%></td>
	    <td><%= link_to 'Show', node %></td>
	    <td><%= link_to 'Edit', edit_enode_path(node) %></td>
	    <td><%= link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
<% end %>
	</tbody>
</table>

<br />
<br />

<%= link_to 'New Node', new_enode_path %>

<hr />
<a href="/">Home</a>
